.neon-fade-enter-active,
.neon-fade-leave-active {
  transition: opacity 3s ease-in;
}

.neon-fade-enter-from,
.neon-fade-leave-to {
  opacity: 0;
}

.share-fade-enter-active,
.share-fade-leave-active {
  opacity: 90%;
  transition: opacity 1s ease;
}

.share-fade-enter-from,
.share-fade-leave-to {
  opacity: 0;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes breathing {
  from {
    opacity: .05;
  }
  50% {
    opacity: .2;
  }
  to {
    opacity: .05;
  }
}
