:root {
  --c__black: #000;
  --c__dark: #1D1D1D;
  --c__white: #F7F7F7;

  --c__grey: #5F5E5D;
  --c__blue: #174578;
  --c__red: #A11F22;
  --c__green: #0FAE24;
  --c__yellow: #FFBB00;

  --c__theme-icon: #ffc857;
  --c__theme-day-cloud: #d1ccc7;
  --c__theme-night-cloud: var(--c__white);

  --text-color: var(--c__dark);
  --note-color: var(--c__grey);
  --cloud-color: var(--c__theme-day-cloud);
}

html.dark {
  --text-color: var(--c__white);
  --note-color: var(--c__grey);
  --cloud-color: var(--c__theme-night-cloud);
}
