@import './_variables.css';
@import './_transitions.css';

html, body {
  overflow-x: hidden;
  ::selection {
    color: var(--c__white);
    background: var(--c__orange);
  }
}

html {
  transition: background .3s ease-in-out;
}

html.dark {
  background: var(--c__dark);
}

#app {
  @apply h-full;
}

section {
  @apply py-24;
}
