@import './_variables.css';
@import './_transitions.css';
@import './_markdown.css';

html, body {
  overflow-x: hidden;
  ::selection {
    color: var(--c__white);
    background: var(--c__orange);
  }
}

html {
  transition: background .3s ease-in-out;
  font-family: 'NTR', 'Roboto', 'Noto Sans TC', sans-serif;
  scroll-behavior: smooth;
}

html.dark {
  background: var(--c__dark);
}

main {
  @apply pt-16;
}

#app {
  @apply h-full;
}
