@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes breathing {
  from {
    opacity: .05;
  }
  50% {
    opacity: .1;
  }
  to {
    opacity: .05;
  }
}

@keyframes monitor-stripe {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% -100%;
  }
}

@keyframes recording {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 50%;
  }
  80% {
    opacity: 50%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes halo-breathing {
  0% {
    box-shadow: 0 0 70px 30px #ffffff73, 0 0 25px 1px #fffffff0;
  }
  10% {
    box-shadow: 0 0 90px 30px #ffffff73, 0 0 17px 1px #fffffff0;
  }
  21% {
    box-shadow: 0 0 70px 30px #ffffff73, 0 0 25px 1px #fffffff0;
  }
  51% {
    box-shadow: 0 0 90px 30px #ffffff73, 0 0 17px 1px #fffffff0;
  }
  100% {
    box-shadow: 0 0 70px 30px #ffffff73, 0 0 25px 1px #fffffff0;
  }
}

@keyframes camera-moving-x {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@keyframes glitch-flash {
  10% {
    opacity: 0;
  }
  11% {
    opacity: var(--opacity_glitch);
  }
  12% {
    opacity: 0;
  }
  13% {
    opacity: var(--opacity_glitch);
  }
  14% {
    opacity: 0;
  }
  72% {
    opacity: 0;
  }
  73% {
    opacity: var(--opacity_glitch);
  }
  74% {
    opacity: 0;
  }
}

@keyframes glitch{
  3%, 74%{
    transform: translate(2px, 0) skew(0deg);
  }
  4%, 72%{
    transform: translate(-1px, 0) skew(0deg);
  }
  73%{
    transform: translate(0, 0) skew(73deg);
  }
  10%, 90%{
    opacity: 1;
  }
  11%, 91% {
    opacity: 0;
  }
  12%, 92% {
    opacity: 1;
  }
}

/* DOM transition */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
