@import './_variables.css';

.blog-md-container {
  letter-spacing: .5px;
  color: var(--c__dark);
  @apply text-base leading-loose;
}

html.dark .blog-md-container {
  color: var(--c__white);
}

.blog-md-container h1 {
  font-size: 2rem;
  @apply leading-10 my-8;
}

.blog-md-container h2 {
  font-size: 1.5rem;
  @apply leading-10 mb-8 mt-16 relative;
}
.blog-md-container h2::before {
  content: '';
  @apply absolute -left-1 top-0 w-4 h-4 bg-orange-lighter block -z-1 rounded-full;
}
.blog-md-container h2::after {
  content: '';
  @apply absolute -left-2 top-3 w-2 h-2 bg-orange-lighter block -z-1 rounded-full;
}

.blog-md-container h3 {
  font-size: 1.25rem;
  @apply leading-10 my-8;
}

.blog-md-container h4 {
  font-size: 1rem;
}

.blog-md-container h5 {
  font-size: .875rem;
}

.blog-md-container h6 {
  font-size: .75rem;
}

.blog-md-container ul li::marker {
  @apply text-orange;
}

.blog-md-container blockquote {
  border-left: 4px solid var(--c__grey);
  @apply text-sm my-8 px-4 leading-relaxed;
}

.blog-md-container blockquote p {
  @apply break-words;
}

.blog-md-container a[target='_blank'] {
  @apply underline decoration-dotted decoration-orange hover:text-orange;
}

.blog-md-container p {
  @apply my-12;
}

.blog-md-container figure[data-type="image"] {
  @apply my-8 text-center;
}

/* prose inline code */
.blog-md-container p > code, .blog-md-container li > code {
  font-family: 'Fira Code', monospace !important;
  background: var(--c__gray-lighter);
  color: var(--c__dark);
  @apply text-xs p-1 rounded select-all;
}

/* prose code */
.blog-md-container pre > code {
  font-family: 'Fira Code', monospace;
  /* background: var(--c__skin); */
  color: var(--c__white);
  @apply text-sm p-1;
}

.blog-md-container hr {
  border-top: 2px dashed var(--note-color);
  @apply opacity-50 my-10;
}

.blog-md-container table {
  border-collapse: collapse;
  @apply my-8 w-full;
}
.blog-md-container table thead tr {
  border-bottom: 1px solid var(--c__gray-lighter);
}
.blog-md-container table tbody tr {
  border-bottom: 1px dashed var(--c__gray-lighter);
}
.blog-md-container table th {
  @apply text-left px-4 py-2;
}
.blog-md-container table td {
  @apply px-4 py-2;
}
