@import './_markdown.css';
@import './_variables.css';
@import './_animation.css';

html, body {
  overflow-x: hidden;
  font-family: 'Roboto Mono', sans-serif;
}

::selection {
  color: var(--c__white);
  background: var(--c__orange);
}

* {
  @apply box-border;
}

html {
  transition: background .3s ease-in-out;
}

html.dark {
  background: var(--c__dark);
}

main {
  @apply pt-16;
}

a, a:visited, a:hover, a:active {
  @apply no-underline color-current;
}

p {
  @apply m-0;
}

h1, h2, h3, h4, h5, h6 {
  @apply m-0;
}

button {
  @apply appearance-none bg-transparent border-none cursor-pointer;
}
